body {
	font-family: sans-serif;
	background-color: #d5e1df;
}
body::after {
	content: '';
	background: url('background.jpg');
	background-size: cover;
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

.background-img::after {
	content: '';
	background: url('background.jpg');
	background-size: cover;
	opacity: 0.8;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

a {
	color: white;
	font-family: 'Playfair Display', serif, bold;
}

label {
	display: block;
}

nav a {
	display: inline-block;
	margin: 1em;
}

form div {
	margin: 1em;
	display: inline-block;
}

.blue-links {
	color: #00008b;
}
.blue-links::hover {
	color: white;
}
.black {
	color: black;
	font-family: 'Playfair Display', serif, bold;
}
.blue {
	background-color: #485167;
	border-radius: 0px 0px 100px 100px;
	opacity: 0.9;
}

.white {
	color: white;
	font-family: 'Playfair Display', serif, bold;
	font-size: 40px;
}

.sargasso {
	color: #485167;
}

.form {
	font-family: 'Playfair Display', serif, bold;
}
