body {
	font-family: sans-serif;
	background-color: #d4d9de;
}

.border {
	border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-bottom: transparent !important;
}

.height {
	max-height: 800px;
}

.ui.blue.small.button {
	background-color: #485167;
	font-family: 'Playfair Display', serif, bold;
}

.background::after {
	content: '';
	background: url('packing.jpg');
	background-size: cover;
	opacity: 0.9;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

.ui.input {
	margin: 0px 5px 0px 0px;
	padding: 5px 0px 5px 5px;
}


.splash::after {
	content: '';
	background: url('packing.jpg');
	background-size: cover;
	opacity: 0.9;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}
.ui.label {
	margin: 0;
}
.ui.massive.label {
	background-color: #485167;
	color: white;
	font-family: 'Playfair Display', serif, bold;
}

.max-size{
	max-width: 300px;
	max-height: 300px;
	padding: 30px 30px 30px 30px;
}

.max-width {
	min-width: 500px;
}

.ui.button {
	background-color: #485167;
	color: white;
}

/*.right-one {
	position:absolute;
}
.right-two {
	position:absolute;
	right: 25px;

}

.right-three {
	position:absolute;
	right: 25px;
}

.right-four {
	position:absolute;
	right: 25px;
}*/

.background-lighter {
	background-color: #d4d9de
/*	border-radius: 50px 50px 50px 50px;
*/}
.background-fixed {
	content: '';
	background: url('packing.jpg');
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.9;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}

.bottom-right {
	position: fixed;
    bottom: 30px;
    right: 30px;
    max-width: 550px;
	color: #485167;
	font-size: 30px;
}

.padded {
	padding: 10px 10px 10px 10px;
}
.bottom {
	position: fixed;
	bottom: 50px;
	right: 0px;
	font-size: 30px;
	color: #485167;
	background-color: white;
}

h2.bottom {
	right: 5px;
}

.max-width {
	max-width: 500px;
}

.bottom-padded {
	font-size: 45px;
	position: fixed;
	bottom: 70px;
	padding-left: 95px;
	padding-bottom: 50pxt;
/*	padding: 0px 0px 50px 50px;
*/	right: 5px;
	color: #485167;
	background-color: white
}
.whiteColor {
	color: white;
}

.background-white {
	background-color: white
}
.padding {
	padding: 15px 15px 15px 15px;

}

.tiny-black {
	color: black;
	font-size: 12px;
	padding: 15px 15px 15px 15px;
}

.underline {
	text-decoration: underline;
}

.background-home::after {
	content: '';
	background: url('darkvacation.jpg');
	background-size: cover;
	opacity: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

.red {
	z-index: 7;
	color: red;
}

.sizing {
	min-height: 400px;
}

.width {
	max-width: 80%;
}

.tall {
	height: 1000px;
}

.background-img::after {
	content: '';
	background: url('background.jpg');
	background-size: 100% 100%;
	opacity: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

.vacation {
	background-image: '';
}

a {
	color: white;
	font-family: 'Playfair Display', serif, bold;
}

.white-color {
	color: white;
}
.card-sizing {
	height: 100px;
	width: 150px;
}

label {
	display: block;
}

nav a {
	display: inline-block;
	margin: 1em;
}

form div {
	margin: 1em;
	display: inline-block;
}

.background-sargasso {
	background-color: #485167;
}

.blue-links {
	color: #00008b;
}
.blue-links::hover {
	color: white;
}
.black {
	color: black;
	font-family: 'Playfair Display', serif, bold;
}
.blue {
	background-color: #485167;
	box-shadow: 100px 100px 100px 100px
	opacity: 0.9;
}

.white {
	color: white;
	font-family: 'Playfair Display', serif, bold;
	font-size: 40px;
}

.sargasso {
	color: #485167;
	opacity: 1.0;
}

.form {
	font-family: 'Playfair Display', serif, bold;
}
